/*This is where magic happens*/

.exercise {
    max-width: 1440px;
    margin: 0 auto;
}

.container__content {
    display: inline-block;
    width: 80%;
}

.container__content .container__search {
    width: 100%;
    height: 285px;
}

.container__content .container__personal {
    width: 100%;
    height: auto;
}

.container__search {
    position: relative;
    background-color: rgb(233, 74, 74);
    text-align: center;
}

.container__search .paragraph--search {
    margin: 30px 25%
}

.container__search--criteria {
    position: relative;
    width: 100%;
}

.container__search--criteria::before {
    content: "\f002";
    font-size: 30px;
    position: absolute;
    color: rgb(233, 74, 74);
    top: 6px;
    left: 8px;
}

.container__become-a-host {
    position: absolute;
    width: 190px;
    height: 50px;
    top: 40px;
    right: 0;
    line-height: 50px;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(58, 58, 58);
}

.container__become-a-host::before {
    content: "";
    background-image: url("assets/nha-homes.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 28.11px;
    vertical-align: middle;
    background-size: contain;
}

.become-a-host__text::after {
    content: "\f105";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 13px;
    margin-left: 5px;
}

.become-a-host__text {
    display: inline-block;
    vertical-align: middle;
}

.search__textbox {
    width: calc(80% - 40px);
    height: 50px;
    border: 1px solid gray;
    padding-left: 40px;
    border-radius: 4px 0px 0px 4px;
    font-size: 20px;
}

.search__button {
    width: 20%;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 0 4px 4px 0;
    padding: 18px 15px 15px 15px;
    margin-left: -6px;
    background-color: rgb(58, 58, 58);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.search__example {
    text-align: left;
    margin-top: 10px;
    font-size: 10px;
}

.paragraph--welcome {
    padding-top: 30px;
}

.personal-image {
    width: 72px;
    height: 72px;
}

.personal__group {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
}

.personal__panel {
    width: 250px;
}

.personal_privacy {
    position: absolute;
    display: block;
    width: 75px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(134, 144, 144, 0.5);
    top: 0px;
    left: 0px;
    border-radius: 4px 0px;
}

.personal__name {
    font-size: 20px;
}

.personal__description {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    min-height: 63px;
}

.personal__detail {
    position: relative;
    text-align: center;
    padding: 40px 13px 20px 13px;
    border-radius: 4px 4px 0px 0px;
}

.personal__detail--gray {
    background: linear-gradient(rgb(151, 161, 161), rgb(93, 106, 107));
}

.personal__detail--yellow {
    background: linear-gradient(rgb(244, 230, 0), rgb(242, 211, 0));
}

.personal__detail--black {
    background: linear-gradient(rgb(50, 50, 50), rgb(5, 5, 5));
}

.personal__contact {
    display: inline-block;
    width: calc(50% - 2px);
    border: 1px solid rgb(210, 220, 220);
    line-height: 50px;
    text-align: center;
}

.personal__contact--call {
    border-radius: 0px 0px 0px 4px;
    cursor: pointer;
}

.personal__contact--linked-in {
    border-left: 1px solid white;
    border-radius: 0px 0px 4px 0px;
    cursor: pointer;
}

.container__panel {
    position: relative;
    margin: 12px;
}

.container__status {
    width: 180px;
}

.status__name {
    font-size: 12px;
}

.status__name::before {
    width: 70px;
    height: 70px;
    top: -27px;
    text-align: center;
    line-height: 70px;
    border-radius: 4px;
    font-size: 30px;
    color: white;
    box-shadow: 0px 6px 13px -10px black
}

.status__name--used-space::before {
    content: "\f24d";
    background: linear-gradient(to bottom left, rgb(249, 142, 38), rgb(252, 163, 55));
}

.status__name--revenue::before {
    content: "\f24d";
    background: linear-gradient(to bottom left, rgb(72, 160, 76), rgb(102, 184, 106));
}

.status__value {
    font-size: 20px;
}

.status__value--more-space {
    margin: 25px 0px 10px 0px;
}

.status__detail {
    padding: 8px 0px 0px 20px;
    border-top: 1px solid rgb(190, 194, 194);
    font-size: 11px;
}

.status__detail::before {
    left: 0px;
}

.status__detail--alert::before {
    content: "\f071";
    color: rgb(233, 74, 74);
}

.status__detail--calendar::before {
    content: "\f073";
    color: rgb(190, 194, 194);
}

@media only screen and (max-width: 1100px) {
    h1.paragraph,
    h3.paragraph,
    .container__become-a-host {
        display: none;
    }
    .container__content .container__search {
        height: 110px;
    }
    .container__search .paragraph--search {
        margin: 0px 5%;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .container__content {
        width: 100%;
    }
    .search__textbox {
        width: calc(70% - 40px);
    }
    .search__button {
        width: 30%;
    }
}