.menu__item {
    position: relative;
}

.menu__icon::before {
    font-size: 20px;
    position: absolute;
    color: rgb(169, 175, 187);
    top: 25px;
    left: 25px;
}

.menu__name {
    display: inline-block;
    margin: 30px 60px;
}

.menu__icon--dashboard::before {
    content: "\f009"
}

.menu__icon--user::before {
    content: "\f007"
}

.menu__icon--clipboard::before {
    content: "\f328"
}

.menu__icon--clone::before {
    content: "\f24d"
}

.menu__icon--dot-circle::before {
    content: "\f192"
}

.menu__icon--map::before {
    content: "\f041"
}

.menu__icon--bell::before {
    content: "\f0f3"
}