@media only screen and (max-width: 1100px) {
    .menu__icon {
        margin: 8px 28px;
    }
    h1.paragraph,
    h3.paragraph,
    .container__become-a-host {
        display: none;
    }
    .container__content {
        width: 72%;
    }
    .container__menu-panel {
        width: 28%;
    }
    .container__search {
        height: 110px;
    }
    .paragraph--search {
        margin: 0px 5%;
        padding-top: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .menu__header,
    .menu--name {
        visibility: hidden;
    }
    .menu__header {
        line-height: 0px;
    }
    .container__menu-panel {
        width: 55px;
    }
    .menu__item:hover {
        background-color: rgb(155, 47, 174);
    }
    .menu__icon::before {
        left: 18px;
    }
    .container__content {
        width: 100%;
    }
    .search__textbox {
        width: calc(70% - 40px);
    }
    .search__button {
        width: 30%;
    }
}